{% extends 'base.html.twig' %}

{% block title %}Juego del 3 en raya{% endblock %}

{% block body %}
<div class="main">
    <div class="containerData p-4 mr-5">
        <h3>3 EN RAYA</h3>
        <form id="formIntputsGame">

            <div class="form-group">
                <div class="col-auto">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend"><div class="input-group-text">X</div></div>
                        <input type="text" class="form-control" id="inputPlayerOne" name="inputPlayerOne" placeholder="Jugador X" required>
                        <div class="invalid-feedback">Introduzca el nombre del jugador X</div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-auto">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend"><div class="input-group-text">O</div></div>
                        <input type="text" class="form-control" id="inputPlayerTwo" name="inputPlayerTwo" placeholder="Jugador O" required>
                        <div class="invalid-feedback">Introduzca el nombre del jugador O</div>
                    </div>
                </div>
            </div>

            <button type="button" class="btn btn-block btn-outline-info mt-3" id="btnPlay" name="btnPlay" >Jugar !</button>
        </form>
        <div id="consoleGame" name="consoleGame" class="code" hidden></div>
    </div>

    <canvas id="canvasGame" name="canvasGame" hidden></canvas>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('game') }}
{% endblock %}